{{ range $dir := lsdir "/services" }}
upstream backend_{{ base $dir }} {
    {{ $custdir := printf "/services/%s/*" $dir }}{{ range getvs $custdir }}
    server {{.}};
    {{ end }}
}

server {
    server_name {{ base $dir }}.sample.com;
    location / {
        nclude /etc/nginx/proxy_params;
        proxy_pass {{base $dir}};
    }
}
{{end}}
