{{ range $dir := lsdir "/services" }}
upstream backend_{{ base $dir }} {
    {{ $custdir := printf "/services/%s/*" $dir }}{{ range getvs $custdir }}
    server {{.}};
    {{ end }}
}

server {
    listen      80;
    server_name {{ base $dir }}.sample.com;

    location / {
        include /etc/nginx/proxy_params;
        proxy_pass http://backend_{{base $dir}};
    }
}
{{end}}
